{% extends "base.html" %}
		
	{% block content %}
		
		<div class='row'>
			<div class='col s12 m12 xl12 l12'>
				<div class="card">
					<div class="card-content">
						<p>Добро пожаловать, <b>{{username}}</b>!<br>
							Уровень доступа: <b>Пользователь</b><br>
							<a href='https://difres.ru/logout' class='light-blue-text lighten-4'>Выйти</a>
						</p>
					</div>
					<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<li class="tab"><a class="active" href="#test4">Задачи</a></li>
						</ul>
					</div>
					<div class="card-content grey lighten-4">
						<div id="test4">
							<div id="test4">Список задач:
							<a class='light-blue-text darken-4' href='https://difres.ru/account'>Обновить данные</a>
							<div class='row hide-on-med-and-down' style='margin-top:15px;'>
								<div class='col s12 m12 l6 xl6'>
									<b>Название:</b>
								</div>
								<div class='col s12 m12 l6 xl6 right-align'>
									<b>Статус:</b>
								</div>
							</div>
							<ul class="collection">
							{% for item in tasks %}
							{% if item.status == 'not_ready' and item.foruser == session.get('username',None) %}
								<li class="collection-item">
									<div class='row'>
										<div class='col s12 m12 l6 xl6'>
											{{item.taskname}}
										</div>
										<div class='col s12 m12 l6 xl6 right-align hide-on-med-and-down'>
											<span class='red-text'>Не готово</span><br>
											<a href='https://difres.ru/account/done?name={{ item.taskname }}' class='light-blue-text lighten-4'>Завершить</a>
										</div>
										<div class='col s12 m12 l6 xl6 left-align hide-on-large-only'>
											<span class='red-text'>Не готово</span><br>
											<a href='https://difres.ru/account/done?name={{ item.taskname }}' class='light-blue-text lighten-4'>Завершить</a>
										</div>
									</div>
									<div class='row'>
										<div class='col s12 m12 l12 xl12'>
											Подробности:<br>
											{{item.info}}
										</div>
									</div>
								</li>
							{% elif item.status == 'check' and item.foruser == session.get('username',None) %}
								<li class="collection-item">
									<div class='row'>
										<div class='col s12 m12 l6 xl6'>
											{{item.taskname}}
										</div>
										<div class='col s12 m12 l6 xl6 right-align hide-on-med-and-down'>
											<span class='orange-text'>На проверке</span><br>
										</div>
										<div class='col s12 m12 l6 xl6 left-align hide-on-large-only'>
											<span class='orange-text'>На проверке</span>
										</div>
									</div>
									<div class='row'>
										<div class='col s12 m12 l12 xl12'>
											Подробности:<br>
											{{item.info}}
										</div>
									</div>
								</li>
							{% elif item.status == 'done' and item.foruser == session.get('username',None) %}
								<li class="collection-item">
									<div class='row'>
										<div class='col s12 m12 l6 xl6'>
											{{item.taskname}}
										</div>
										<div class='col s12 m12 l6 xl6 right-align hide-on-med-and-down'>
											<span class='green-text darken-4'>Выполнено</span><br>
										</div>
										<div class='col s12 m12 l6 xl6 left-align hide-on-large-only'>
											<span class='green-text darken-4'>Выполнено</span><br>
										</div>
									</div>
									<div class='row'>
										<div class='col s12 m12 l12 xl12'>
											Подробности:<br>
											{{item.info}}
										</div>
									</div>
								</li>
							{% endif %}
							{% endfor %}
							</ul>
						</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				$(".tabs").tabs()
			});
		</script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		
	{% endblock %}